*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: hsl(213, 94%, 6%);
  overflow: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Container {
  display: flex;
  flex-wrap: wrap;
}

.Boxs {
  width: .8rem;
  height: .8rem;
  border-radius: .1rem;
  margin: .5rem;
  background: hsl(0deg 0% 29% / 15%);
}

.Boxs:hover {
  /* background: hsl(125deg 93% 66%); */
  background-color: aqua;
  box-shadow: 0rem 0rem 10px 0px hsl(125deg 91% 73%);
}
